# Python environment
.venv/
venv/

# IDE / Editor configs
.idea/
.vscode/

# Python cache / bytecode
__pycache__/
*.pyc

# Environment and cache
.env
.cache/
.cache

# Logs and scheduler outputs
*.txt
*.log

PROGRESS.md

data/
storageListening/
metadata/
metadata_files/
scripts/

# OS files
.DS_Store
Thumbs.db
